.message {
    height: 88px;
    display: flex;
    padding: 0 8px 0 5px;

    background: #fff;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: var(--border);
}

.left {
    width: 74px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 47px;
    height: 47px;

    border-radius: 50%;
    background: #d9d9d9;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    margin: 0 0 14px;
}

.title {
    width: 208px;
    height: 11px;
    margin: 0 5px 0 0;

    background: #d9d9d9;
    border-radius: 5px;
}

.timestamp {
    width: 36px;
    height: 11px;

    background: #d9d9d9;
    border-radius: 5px;
}

.line1 {
    width: 195px;
    height: 11px;
    margin: 0 0 6px 0;

    background: #d9d9d9;
    border-radius: 5px;
}

.line2 {
    width: 176px;
    height: 11px;

    background: #d9d9d9;
    border-radius: 5px;
}

.skeleton {
  background: linear-gradient(
    90deg,
    #d9d9d9 25%,
    #f0f0f0 50%,
    #d9d9d9 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite ease-in-out;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}